@import "../../../src/styles/base.scss";

.casiGame {
  padding: 30px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(83deg, rgba(0, 0, 0, 1) 0%, rgba(20, 86, 224, 1) 33%, rgba(17, 36, 75, 1) 67%, rgba(0, 0, 0, 1) 100%);

  > span {
    display: flex;
    background: rgb(0, 0, 0);
    position: relative;
    background: linear-gradient(to right, rgba(17, 36, 75, 1), rgba(0, 0, 0, 1));
    padding: 1px;

    span {
      background: linear-gradient(83deg, rgba(0, 0, 0, 1) 0%, rgba(20, 86, 224, 1) 33%, rgba(17, 36, 75, 1) 67%, rgba(0, 0, 0, 1) 100%);
      padding: 15px 50px;
    }

  }

}